@model TraffkPortal.Models.ApplicationModels.CommunicationsModel
@{
    Layout = "_LayoutApplication.cshtml";
    ViewData.SetTitleAndHeading("Communication Settings");
}

<table class="table">
    <thead>
        <tr>
            <th>Purpose</th>
            <th>Email</th>
            <th>Sms</th>
            <th>Notification</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var def in Model.Definitions)
        {
            <tr>
                <td>@def.CommunicationPurpose</td>
                <td>
                    @if (def.SupportsMedium(SystemCommunication.CommunicationMediums.Email))
                    {
                        <select asp-items="Model.GetCompatibleMessageTemplates(def)" asp-for="FindOrCreateCommunication(def, SystemCommunication.CommunicationMediums.Email).MessageTemplateId"></select>
                    }
                </td>
                <td>
                    @if (def.SupportsMedium(SystemCommunication.CommunicationMediums.Sms))
                    {
                        <select asp-items="Model.GetCompatibleMessageTemplates(def)" asp-for="FindOrCreateCommunication(def, SystemCommunication.CommunicationMediums.Sms).MessageTemplateId"></select>
                    }
                </td>
                <td>
                    @if (def.SupportsMedium(SystemCommunication.CommunicationMediums.Notification))
                    {
                        <select asp-items="Model.GetCompatibleMessageTemplates(def)" asp-for="FindOrCreateCommunication(def, SystemCommunication.CommunicationMediums.Notification).MessageTemplateId"></select>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>