@model TraffkPortal.Models.ApplicationModels.EditModel
@using static TraffkPortal.Controllers.ApplicationController
@{
    Layout = "_LayoutApplication.cshtml";
    ViewData.SetTitleAndHeading(Model.ApplicationName);
}

<form asp-action="Edit">
    <input asp-for="ApplicationId" class="form-control" type="hidden" />
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ApplicationName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ApplicationName" class="form-control"  />
                <span asp-validation-for="ApplicationName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApplicationType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ApplicationType" class="form-control" readonly="readonly" />
                <span asp-validation-for="ApplicationType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailSenderName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmailSenderName" class="form-control" />
                <span asp-validation-for="EmailSenderName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailSenderAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmailSenderAddress" class="form-control" />
                <span asp-validation-for="EmailSenderAddress" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-primary btn-large" />
            </div>
        </div>
    </div>
</form>

