@using Traffk.Bal
@using static TraffkPortal.Controllers.ApplicationController
@model IEnumerable<TraffkPortal.Models.ApplicationModels.SystemCommunicationsModel>
@{
    Layout = "~/Views/Application/_LayoutApplication.cshtml";
    ViewData.IsFormPage(true);
    ViewData.SetTitleAndHeading("System Communications");
}

<form asp-action="@ApplicationController.ActionNames.SystemCommunicationsSave" class="inline-form">
    <div class="row">
        <div class="col-sm-12">
            @foreach (var item in Model)
            {
                var choices = ViewBag.CreativeSelectListItemsByCommunicationModel[item.ModelType];
                <div class="form-row">
                    @{
                        var purpose = item.Purpose.ToString().ToTitleFriendlyString();
                    }
                    <label>@Html.DisplayFor(modelItem => purpose)</label>
                    <select asp-items="choices" asp-for="@item.CreativeId" name="CreativeIdFor_@item.Purpose" class="form-control"></select>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <input type="submit" value="Save" class="btn btn-default btn-primary btn-large" />
        </div>
    </div>
</form>
