@using Traffk.Bal
@using static TraffkPortal.Controllers.ApplicationController
@model IEnumerable<TraffkPortal.Models.ApplicationModels.SystemCommunicationsModel>
@{
    Layout = "_LayoutApplication.cshtml";
}

<form asp-action="@ActionNames.SystemCommunicationsSave">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(z => z.Purpose)
                </th>
                <th>
                    Creatives
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var choices = ViewBag.CreativeSelectListItemsByCommunicationModel[item.ModelType];
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purpose)
                    </td>
                    <td>
                        <select asp-items="choices" asp-for="@item.CreativeId" name="CreativeIdFor_@item.Purpose"></select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Save" class="btn btn-default" />
</form>
