@using static TraffkPortal.Controllers.HomeController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("About");
    ViewData.HasBreadcrumbItems(true);
}
@section breadcrumbItems
{
    <li><a asp-controller="@HomeController.Name" asp-action="@ActionNames.Index">Home</a> <span>></span> </li>
}
@if (R.AboutMessage.Value != null)
{
    <div class="row">
        <div class="panel medium-padding">
            @R.AboutMessage
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="panel medium-padding">
            <p>
                Traffk modernizes the insurance underwriting process with more accurate data insights and risk profiling that allows risk bearing companies to manage profitability, risk, market growth, cross lines sales, marketing, and compliance. Our SaaS platform enables your organization to deploy data mining, analytics and rules automation to manage risk, pricing, and utilization.                
            </p>
            <br/>
            <p>
                Traffk helps insurance related companies manage, utilize and expand their data to improve underwriting accuracy, manage risk, realize market growth & retention, and create data optimized solutions and offerings.    
            </p>
            <br/>
            <p>
                Traffk's insurance-optimized risk management platform is powered by 175+ years of insurance expertise, data science, machine learning and AI.    
            </p>
            </div>
    </div>
}
