@{
    ViewData.SetTitleAndHeading("About");
}

@if (R.AboutMessage.Value != null)
{
    <text>@R.AboutMessage</text>
}
else
{
    <text>
    <p>
        <b>AboutMessage(page)</b>
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante eros, elementum et ante sit amet, blandit pellentesque quam. Vivamus sit amet neque diam. Suspendisse lobortis tortor nec arcu iaculis condimentum. Vestibulum id efficitur ligula. In consectetur nunc lectus, vehicula faucibus eros gravida sed. Donec massa ante, posuere a elit vel, tincidunt pellentesque nisl. Phasellus varius suscipit diam, consequat gravida felis placerat ut. Maecenas rutrum lectus iaculis dui commodo dignissim. Curabitur consequat ornare nisl, eget ullamcorper erat viverra at. Pellentesque sit amet sem et odio tincidunt iaculis. Etiam interdum felis velit, in vestibulum massa dapibus id. Aenean pretium arcu sed convallis maximus.
    </p>
    <p>
        Cras felis neque, rutrum eget est vitae, ultricies sodales purus. Nulla ultrices, nisl non dictum hendrerit, turpis risus faucibus magna, vitae pharetra ipsum nibh mollis velit. Sed vel tellus nec lectus semper porta ac a metus. Morbi accumsan lectus sapien, non scelerisque felis auctor non. Sed pellentesque tristique faucibus. In hac habitasse platea dictumst. Maecenas gravida nibh ut hendrerit varius.
    </p>
    <p>
        Proin a odio faucibus, ullamcorper tortor id, tincidunt neque. Nulla ac posuere tellus. Etiam quis egestas dolor. Vivamus suscipit congue nisl, ut pretium odio rhoncus pulvinar. Mauris nisl mauris, tincidunt at finibus non, pulvinar sed sapien. Donec et ante luctus tellus fermentum tincidunt. In porttitor enim ac sem lobortis bibendum. Maecenas ante purus, tincidunt quis blandit eu, commodo nec ex. Mauris a tincidunt urna, vitae iaculis nisi. Suspendisse vitae posuere sapien. Cras nunc erat, lobortis ac lacus gravida, fringilla laoreet ligula. Pellentesque tellus libero, viverra et tincidunt quis, cursus a quam. Curabitur lorem augue, accumsan in nisl at, lacinia tristique massa.
    </p>
    </text>
}
