@using static TraffkPortal.Controllers.HomeController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Contact");
    ViewData.HasBreadcrumbItems(true);
}
@section breadcrumbItems
{
    <li><a asp-controller="@HomeController.Name" asp-action="@ActionNames.Index">Home</a> <span>></span> </li>
}
<div class="row">
    <div class="panel medium-padding">
        <address>
            Traffk<br/>
            652 Mateo Street<br/>
            Suite 202<br />
            Los Angeles, CA 90021<br/>
            @*<abbr title="Phone">P:</abbr>
            425.555.0100*@
        </address>
        @if (R.SystemAdminEmailAddress != null)
        {
        <address>
            <strong>System Admin:</strong>  <a href="mailto:@R.SystemAdminEmailAddress">@(R.SystemAdminName?? R.SystemAdminEmailAddress)</a><br />
        </address>
        }
    </div>
</div>
