@{
    ViewData["Title"] = "Home Page";
    ViewData["BodyContainerClass"] = "container-full-width no-side-padding";
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var w = window.innerWidth;
            var h = window.innerHeight;
            //alert("w:" + w + " h:" + h);
            $(".panel-body").css("height", h - 300).css("width", w - 100);
            var report = loadPowerBiResourceUsingLibrary('powerBiContainer', 'bd81d8a0-b110-4455-b8b4-38ce86501f72');
            trackUserInteraction(report);
        });
    </script>
}

<center>
    <div>
        <text>@R.HomeMessage</text>

        @{ await Html.RenderPartialAsync("_PowerBiIFramePartial"); }

    </div>
</center>
