@{
    ViewData["Title"] = "Home Page";
    ViewData["BodyContainerClass"] = "container-full-width no-side-padding";
}
@section Scripts {
<script type="text/javascript">
        $(document).ready(function () {
            initViz("Superstore", "Overview");
        });
</script>
}

<center>
    <div>
        <text>@R.HomeMessage</text>

        @{ await Html.RenderPartialAsync("_PowerBiIFramePartial"); }

    </div>
</center>
