@using RevolutionaryStuff.Core.Collections
@model TreeNode<Traffk.Bal.ReportVisuals.IReportResource>
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Reporting", "This is the reports subheading.");
    ViewData.IsListingPage(true);
    var filters = ViewBag.ListingFilters as ListingFilters;
    var hasFilters = filters != null;
    ViewData.HasPageActions(true);
}

@section pageAlerts {
<div class="alert alert-info alert-dismissable" id="message-exported-alert" style="display: none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <i class="fa fa-check" aria-hidden="true"></i> All reports have been exported.
</div>}

@section pageActionItems {
    <li class="multiselect-action"><a href="#" class="popup-export-report_open">Export</a></li>
}

@section listingTable
{
    <div id="reports-container">
        @{ await Html.RenderPartialAsync("~/Views/Shared/_ReportResourceTreeNodePartial.cshtml", Model.Children); }
    </div>
    @{await Html.RenderPartialAsync("~/Views/Reporting/_ExportReportPartial.cshtml"); }
}

@section Scripts {
    <script>
        jQuery('.export-report-button').click(function () {
            if (jQuery(this).attr('data-section') !== undefined) {
                var id = jQuery(this).attr('data-section');
                jQuery('.export-report-step:not(#' + id + ')').hide();
                jQuery('#' + id).fadeIn(300);
            }
        });
    </script>

    <script type="text/javascript">
        function exportReport() {
            $("#message-exported-alert").fadeIn(500).delay(4000).hide(500);
            jQuery('.export-report-step:not(#export-report-step-1)').hide();
        }
    </script>
}

