@using RevolutionaryStuff.PowerBiToys.Objects
@using RevolutionaryStuff.Core.Collections
@using RevolutionaryStuff.Core.ApplicationParts
@using Traffk.Tableau.REST.Models
@model TreeNode<Traffk.Tableau.REST.Models.SiteViewResource>
@{
    Layout = "~/Views/Shared/_LayoutReportListing2.cshtml";
    ViewData.SetTitleAndHeading("Reporting", "This is the reports subheading.");
    var filters = ViewBag.ListingFilters as ListingFilters;
    var hasFilters = filters != null;
}

<!-- Content: Reports -->
@section listingFilters
{
    @await Html.PartialAsync("_ReportFiltersPartial2", filters)

}
@section listingTable
{
    @{ await Html.RenderPartialAsync("_TableauViewResourceTreeNodePartial2", Model.Children); }
}
@section listingActionButtons
{
    <button class="btn btn-large btn-white toggle" data-toggle="actions-filter">Actions</button>
    <ul id="actions-filter" class="floated-filter list-right">
        <li class="multiselect-action"><a href="#" class="popup-confirm_open">Export</a></li>
        <li><a href="#">Delete</a></li>
        <li><a href="#">View</a></li>
    </ul>
}

<!-- /end Content: Reports -->


