@model AddPhoneNumberViewModel
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Add Phone Number");
    ViewData.IsFormPage(true);
}

<form asp-controller="Manage" asp-action="AddPhoneNumber" method="post" class="inline-form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-row">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <input type="submit" value="Send Verification Code" class="btn btn-default btn-primary btn-large" />
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
