@model VerifyPhoneNumberViewModel
@{
    ViewData.SetTitleAndHeading("Verify Phone Number");
    ViewData.IsFormPage(true);
}

<form asp-controller="Manage" asp-action="VerifyPhoneNumber" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="inline-form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-sm-12">
            <input asp-for="PhoneNumber" type="hidden" />
            <div class="form-row">
                <span asp-validation-for="Code" class="text-danger"></span>
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control"/>
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-default btn-primary btn-large">Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
