################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

src/RevolutionaryStuff.Core/obj
src/RevolutionaryStuff.Core/bin
src/.vs
src/RevolutionaryStuff.Azure/obj
src/RevolutionaryStuff.Azure/bin
src/RevolutionaryStuff.DataFoundations/obj
src/RevolutionaryStuff.DataFoundations/bin
src/RevolutionaryStuff.PowerBiToys/obj
src/RevolutionaryStuff.PowerBiToys/bin
src/RevolutionaryStuff.SqlSchemaFoundations/obj
src/RevolutionaryStuff.SqlSchemaFoundations/bin
src/Traffk.Bal/obj
src/Traffk.Bal/bin
src/Traffk.Portal/obj
src/Traffk.Portal/bin
src/Traffk.CommunicationBlaster/obj
src/Traffk.CommunicationBlaster/bin
