################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RevolutionaryStuff.Core/obj
/RevolutionaryStuff.Core/bin
/.vs
/RevolutionaryStuff.Azure/obj
/RevolutionaryStuff.Azure/bin
/RevolutionaryStuff.DataFoundations/obj
/RevolutionaryStuff.DataFoundations/bin
/RevolutionaryStuff.PowerBiToys/obj
/RevolutionaryStuff.PowerBiToys/bin
/RevolutionaryStuff.SqlSchemaFoundations/obj
RevolutionaryStuff.SqlSchemaFoundations/bin
