################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/RevolutionaryStuff.Core/obj
/src/RevolutionaryStuff.Core/bin
/src/.vs
/.vs
/src/RevolutionaryStuff.Azure/obj
/src/RevolutionaryStuff.Azure/bin
/src/RevolutionaryStuff.DataFoundations/obj
/src/RevolutionaryStuff.DataFoundations/bin
/src/RevolutionaryStuff.PowerBiToys/obj
/src/RevolutionaryStuff.PowerBiToys/bin
/src/RevolutionaryStuff.SqlSchemaFoundations/obj
/src/RevolutionaryStuff.SqlSchemaFoundations/bin
/src/Traffk.Bal/obj
/src/Traffk.Bal/bin
/src/Traffk.Portal/obj
/src/Traffk.Portal/bin
/src/Traffk.CommunicationBlaster/obj
/src/Traffk.CommunicationBlaster/bin
/tests/Traffk.Bal.Tests/obj
/tests/Traffk.Bal.Tests/bin
/tests/Traffk.Portal.Tests/obj
/tests/Traffk.Portal.Tests/bin
/tests/Traffk.CommunicationBlaster.Tests/obj
/tests/Traffk.CommunicationBlaster.Tests/bin
*.user
*.suo
/tests/RevolutionaryStuff.Azure.Tests/obj
/tests/RevolutionaryStuff.Azure.Tests/bin
/tests/RevolutionaryStuff.Core.Tests/obj
/tests/RevolutionaryStuff.Core.Tests/bin
/tests/RevolutionaryStuff.DataFoundations.Tests/obj
/tests/RevolutionaryStuff.DataFoundations.Tests/bin
/tests/RevolutionaryStuff.PowerBiToys.Tests/obj
/tests/RevolutionaryStuff.PowerBiToys.Tests/bin
/tests/RevolutionaryStuff.SqlSchemaFoundations.Tests/obj
/tests/RevolutionaryStuff.SqlSchemaFoundations.Tests/bin