@{
    ViewData.SetTitleAndHeading("Confirm Email");
}
<div class="alert alert-success" role="alert">Your email address has been confirmed.</div>
<div>
    <p>
        Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
    </p>
</div>
