@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Forgot Password Confirmation");
    ViewData.IsContentPage(true);
}

<div class="row">
    <div class="panel medium-padding">
        Please check your email to reset your password.
    </div>
</div>
