@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Forgot Password Confirmation");
    ViewData.IsContentPage(true);
}

<p>
    Please check your email to reset your password.
</p>
