@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Locked Out");
    ViewData.IsContentPage(true);
}

    <p class="text-danger">This account has been locked out, please try again later.</p>
