@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData.SetTitle("Log In");
}

<div class="row">
    <div class="col-sm-12 text-center">
        <h1>Log In</h1>
        @if (R.LoginMessage.Value != null)
        {
            <p class="subheading">@R.LoginMessage</p>
        }
        else
        {
            <p class="subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        }
    </div>
</div>

<!-- Content: Login Panel -->
<section id="login-panel">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel container-internal large-padding" id="login-container">
                <form form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="form-login">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="group form-row">
                        <input type="text" asp-for="Email" class="form-text" required tabindex=1/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label asp-for="Email" class="material"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="group form-row">
                        <input asp-for="Password" class="form-text" required tabindex=2/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label asp-for="Password" class="material"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-row">
                        <p class="text-right register-link"><a asp-action="ForgotPassword">Forgot your password?</a>
                        </p>
                        <p class="text-right register-link"><a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                        </p>
                    </div>

                    <div class="form-row text-right">
                        <input type="submit" value="Log In" class="btn btn-primary btn-large"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /end Content: Login Panel -->

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
