@model RegisterViewModel
@using static TraffkPortal.Controllers.AccountController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Register", "Create a new account");
    ViewData.IsFormPage(true);
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="inline-form">
    @if (Current.Application.AppSettings.Registration.UsersCanSelfRegister)
    {
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
        <div class="col-sm-12">
            <div class="form-row">
                <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <button type="submit" class="btn btn-default btn-primary btn-large">Register</button>
            </div>
        </div>
    }
    else
    {
        <text>
        Self-registration is currently disabled.  If you require and account, please contact <a href="mailto:@R.SystemAdminEmailAddress">@R.SystemAdminName</a>.
        </text>
    }
</form>

