@model ResetPasswordViewModel
@using static TraffkPortal.Controllers.AccountController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Reset Password");
    ViewData.IsFormPage(true);
}

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="inline-form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="row">
        <div class="col-sm-12">
            <div class="form-row">
                <label asp-for="Email"></label>
                <p>@Model.Email</p>
            </div>
            <div class="form-row">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <input type="submit" value="Reset" class="btn btn-default btn-primary btn-large" />
        </div>
    </div>
</form>
