@model VerifyCodeViewModel
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Verify");
    ViewData.IsFormPage(true);
}

<form asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="inline-form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Provider" type="hidden" />
    <input asp-for="RememberMe" type="hidden"/>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-row">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-row">
                    <label asp-for="RememberBrowser"></label>
                    <input asp-for="RememberBrowser"/>
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <input type="submit" value="Verify" class="btn btn-default btn-primary btn-large" />
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
