@using static TraffkPortal.Controllers.CommunicationsController
@model Traffk.Bal.Data.RecurrenceSettings
@{
    Layout = "~/Views/Communications/_LayoutCommunication.cshtml";
    ViewData.IsFormPage(true);
    ViewData.SetTitleAndHeading("Communication Schedule");
}
@section pageAlerts
{
    <div class="alert alert-info" role="alert" id="Next Scheduled Send">Next occurrence: @Model.NextOccurrence?.StartAtUtc.ToLocalTime()</div>    
}
<form asp-action="@CommunicationsController.ActionNames.CommunicationScheduleSave" class="inline-form html-editor-form">
    @await Html.PartialAsync("_RecurrenceSettingsPartial", Model)
</form>