@using static TraffkPortal.Controllers.CommunicationsController
@model Traffk.Bal.Data.RecurrenceSettings
@{
    Layout = "~/Views/Communications/_LayoutCommunication.cshtml";
    ViewData.IsFormPage(true);

}
@section pageAlerts
{
    <div class="alert alert-info" role="alert" id="Next Scheduled Send">Next occurrence: @Model.NextOccurrence?.StartAtUtc.ToLocalTime()</div>    
}
<form asp-action="@CommunicationsController.ActionNames.CommunicationScheduleSave" class="inline-form html-editor-form">
    @await Html.PartialAsync("_RecurrenceSettingsPartial", Model)
    @*<div class="form-horizontal">
        <div class="form-group">
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-primary btn-large"/>
            </div>
        </div>
    </div>*@
</form>