@model TraffkPortal.Models.CommunicationModels.CreativeModel
@using static TraffkPortal.Controllers.CommunicationsController
@{
    Layout = "~/Views/Communications/_LayoutCommunication.cshtml";
    ViewData.IsFormPage(true);
    ViewData.SetTitleAndHeading("Creative");
}

<form asp-action="@CommunicationsController.ActionNames.CommunicationCreativeSave" asp-route-id="@Model.CommunicationId" enctype="multipart/form-data" class="inline-form html-editor-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-sm-12">
            @await Html.PartialAsync("_EditCreativePartial", Model)
        </div>
    <div class="form-row">
        <label class="col-sm-1"></label>
        <div class="col-sm-10">
            <input type="submit" value="Save" class="btn btn-default btn-primary btn-large" />
        </div>
    </div>
</form>