@model TraffkPortal.Models.CommunicationModels.CreativeModel
@using static TraffkPortal.Controllers.CommunicationsController
@{
    Layout = "_LayoutCreative.cshtml";
    if (Model.CreativeId <= 0)
    {
        ViewData.SetTitleAndHeading("Create New Creative");
    }
    else
    {
        ViewData.SetTitleAndHeading($"{Model.CreativeTitle} ({Model.CreativeId})");
    }
    ViewData.IsFormPage(true);
}

<form asp-action="@ActionNames.CreativeSave" asp-route-id="@Model.CreativeId" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @{await Html.RenderPartialAsync("_EditCreativePartial", Model);}

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-primary btn-large" />
            </div>
        </div>
    </div>
</form>
