@model TraffkPortal.Models.CommunicationModels.CreativeModel
@using static TraffkPortal.Controllers.CommunicationsController
@{
    Layout = "~/Views/Communications/_LayoutCreative.cshtml";
    if (Model.CreativeId <= 0)
    {
        ViewData.SetTitleAndHeading("New Creative");
    }
    else
    {
        ViewData.SetTitleAndHeading($"{Model.CreativeTitle} ({Model.CreativeId})");
    }
    ViewData.IsFormPage(true);
}

<form asp-action="@ActionNames.CreativeSave" asp-route-id="@Model.CreativeId" enctype="multipart/form-data" class="inline-form html-editor-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @{await Html.RenderPartialAsync("_EditCreativePartial", Model);}

    <div class="form-row">
        <label class="col-sm-1"></label>
        <div class="col-sm-10">
            <input type="submit" value="Save" class="btn btn-default btn-primary btn-large" />
        </div>
    </div>
</form>
