<div id="popup-create-note" class="popup">
    <div class="popup-content-container">
        <a class="popup-create-note_close"><i class="fa fa-2x fa-times popup-close-btn"></i></a>
        <h3>Create Note</h3>
        <form role="form" id="personal-edit-form" class="inline-form">
            <div class="form-row">
                <textarea class="form-control" id="NewNoteContent"></textarea>
            </div>
            <ul class="step-buttons">
                <li><a href="#" class="btn btn-primary btn-large popup-create-note_close" onclick="createNote()">Save</a></li>
                <li><a href="#" class="btn btn-large btn-grey popup-create-note_close">Cancel</a></li>
            </ul>
        </form>
    </div>
</div>