@using Traffk.Bal.Data.Ddb.Crm
@model PersonName
<div class="form-group">
    <label asp-for="Prefix" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Prefix" class="form-control" />
        <span asp-validation-for="Prefix" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="FirstName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="MiddleName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="LastName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger" />
    </div>
</div>
<div class="form-group">
    <label asp-for="Suffix" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Suffix" class="form-control" />
        <span asp-validation-for="Suffix" class="text-danger" />
    </div>
</div>

