@model TraffkPortal.Models.RoleModels.RoleDetailViewModel
@using static TraffkPortal.Controllers.RolesController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.HasBreadcrumbItems(true);
    ViewData.HasPageMenuItems(true);
    ViewData.HasPageActions(true);
    ViewData.SetTitleAndHeading(Model.RoleName);
    ViewData.IsFormPage(true);

}
@section breadcrumbItems
{
    <li><a asp-controller="@Name" asp-action="@ActionNames.Index" id="IndexLink">Roles</a> <span>></span> </li>
}
@section pageActionItems {
    <li><a onclick="deleteRoleWithRedirect('@Model.Id', function(){location=$('#IndexLink').attr('href');})" class="confirm-on-click" confirmHeading="Are you sure?" confirmMessage="Are you sure you want to delete role: @Model.RoleName?">Delete</a></li>
}

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="InitialPermissionList" />
        <div class="form-group">
            <label asp-for="RoleName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SelectedPermissions" class="col-md-2 control-label">Permissions</label>
            <div class="col-md-10">
                <select asp-items="Model.InitialPermissionList" multiple="multiple" asp-for="SelectedPermissions"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-primary btn-large" />
            </div>
        </div>
    </div>
</form>
