@{
    Layout = "~/Views/Shared/_LayoutEmptyContent.cshtml";
}
@if ((ViewData[ViewDataKeys.Heading] as string) != null)
{
    <div class="page-header">
        <h1>@ViewData[ViewDataKeys.Heading] <small>@ViewData[ViewDataKeys.SubHeading]</small></h1>
    </div>
}
@RenderBody()
@section scripts
{
    <script src="/lib/powerbi-client/dist/powerbi.js"></script>

    @RenderSection("scripts", required: false)
}
