@{
    Layout = "~/Views/Shared/_LayoutEmptyContent2.cshtml";
}
@if ((ViewData[ViewDataKeys.Heading] as string) != null)
{
    <div class="row">
        <div class="col-xs-12">
            <h1>@ViewBag.Heading</h1>
            <p class="subheading">@ViewBag.Subheading</p>
        </div>
    </div>
}
@RenderBody()
@section scripts
{
    @RenderSection("scripts", required: false)
}
