@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var filters = ViewBag.ListingFilters as ListingFilters;
    var hasFilters = filters != null;
    if (hasFilters)
    {
        ViewData["BodyContainerClass"] = "container-full-width";
    }
}
<div class="clearfix">
    @if (hasFilters)
    {
        <div class="filterSection">
            <h3>Filters</h3>
            @await Html.PartialAsync("_ListingFiltersPartial", filters)
        </div>
    }
    <div class="listingSection @(hasFilters?"listingSectionWithFilters":"")">
        <div class="btn-group" role="group">
            @RenderSection("listingActionButtons", required: false)
        </div>
        <div class="table-responsive">
            @RenderSection("listingTable", required: true)
        </div>
    </div>
</div>
@section scripts
{
    @RenderSection("scripts", required: false)
}
