@using Traffk.Bal.Data.Rdb.TraffkTenantModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @UserManager.GetUserName(User)<b class="caret"></b></a>
            <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                <ul class="dropdown-menu">
                    <li>
                        <button type="submit" style="display:none" id="LogoffButton">Log off</button>
                    </li>
                </ul>
            </form>
            <ul class="dropdown-menu">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index"><i class="fa fa-fw fa-gear"></i> Manage</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a onclick="$('#LogoffButton').click()"><i class="fa fa-fw fa-power-off"></i> Log Off</a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-right top-nav">
        <li class="account-nav"><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li class="account-nav"><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
