<div class="panel-body powerbi-embed-container" style="height:600px; overflow: hidden; padding: 0; position: relative" frameborder="0" id="powerBiContainer">
    <iframe id="frame1" frameborder="0" class="parentSize powerbi-embed"></iframe>
    <div class="powerbi-branding-coverup" style="background-color:#EAEAEA; height:36px; width:100%; z-index: 999; position: absolute; bottom: 0px; display:none"></div>
</div>