<div class="panel-body powerbi-embed-container" style="height:600px; overflow: hidden; padding: 0; position: relative" frameborder="0" id="powerBiContainer">
    <div class="powerbi-branding-coverup" style="background-color:#EAEAEA; height:36px; width:100%; z-index: 999; position: absolute; bottom: 0px; display:none"></div>
</div>
<div id="userInteractionDiv">This is where user interaction messages will go.</div>