    <div class="panel medium-padding">
        <div class="panel-body report-embed-container" id="reportContainer">
        </div>
    </div>
@*<div id="userInteractionDiv">This is where user interaction messages will go.</div>*@