<div class="col-xs-12">
    <div class="panel medium-padding">
        <div class="panel-body report-embed-container" style="overflow: hidden; padding: 0; position: relative" frameborder="0" id="reportContainer">
            <div class="report-branding-coverup" style="background-color:#EAEAEA; height:36px; width:100%; z-index: 999; position: absolute; bottom: 0px; display:none"></div>
        </div>
    </div>
</div>
@*<div id="userInteractionDiv">This is where user interaction messages will go.</div>*@