@model IEnumerable<string>
<script type="text/javascript">
    function removeTag(el)
    {
        el.parentElement.parentElement.removeChild(el.parentElement);
    }
    function newTagKeyDown(el, event)
    {
        var s = $(el).val().trim();
        if (event==null || event.which == 13 || event == null)
        {
            if (s.length > 0)
            {
                var html = '<li class="contact-tag"> <span>' + s + ' <span class="fa fa-times" aria-hidden="true" onclick="removeTag(this)"></span><input name="Contact.Tags" type="hidden" value="' + s + '" /></span></li>';
                $(el.parentElement).after(html);
                $(el).val("");
            }
            if (event != null)
            {
                event.preventDefault();
            }
        }
    }
    function addTag(el)
    {
        newTagKeyDown(el.parentElement.children[0], null);
    }
</script>
<ul class="contact-tags" id="">
    <li>
        <input type="text" onkeydown="newTagKeyDown(this, event)" class="form-control" />
        <span class="glyphicon glyphicon-plus" aria-hidden="true" onclick="addTag(this)"></span>
    </li>
    @if (Model != null)
    {
        foreach (var s in Model)
        {
            <li class="contact-tag">
                <span>
                    @s
                    <span class="fa fa-times" aria-hidden="true" onclick="removeTag(this)"></span>
                    <input name="Contact.Tags" type="hidden" value="@s"/>
                </span>
            </li>
        }
    }
</ul>
 