@using Microsoft.AspNetCore.Http
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Error");
}
<div class="row">
    <div class="panel medium-padding text-danger">
        An error occurred while processing your request.    
    </div>
</div>
