@using static TraffkPortal.Controllers.MessagingController
@using TraffkPortal.Models.MessagingModels
@model MessageTemplateModel
@{
    Layout = "_LayoutBlast.cshtml";
}

@section pageAlerts {
    <div class="alert alert-success" role="alert" id="attachmentDeletedAlert" style="display: none">The attachment has been deleted.</div>
}

<form asp-action="@ActionNames.BlastMessageSave" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ModelType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ModelType" asp-items="ViewBag.ModelListItems"></select>
                <span asp-validation-for="ModelType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubjectCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SubjectCode" class="form-control" />
                <span asp-validation-for="SubjectCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HtmlBodyCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="HtmlBodyCode" class="form-control htmleditor"></textarea>
                <span asp-validation-for="HtmlBodyCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TextBodyCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="TextBodyCode" class="form-control"></textarea>
                <span asp-validation-for="TextBodyCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Attachments</label>
            <div class="col-md-10">
                @foreach (var attachmentAsset in Model.AttachmentAssets)
                {
                    @await Html.PartialAsync("_AssetPreviewPartial", attachmentAsset)
                }
                <div>
                    <input asp-for="NewAttachments" class="form-control" multiple="multiple" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        function removeAttachment(el, assetKey) {
            var url = "/Messaging/Blasts/@ViewContext.GetRouteValue()/Message/DeleteAttachment?assetKey=" + assetKey;
            $.ajax({
                url: url,
                dataType: "json",
                type: "DELETE",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ assetKey: assetKey }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    $("#attachmentDeletedAlert").show();
                    $(el).parent().remove();
                },
                error: function (xhr) {
                    alert("error:\n" + JSON.stringify(xhr));
                }
            });
        }
    </script>
}
