@model Traffk.Bal.Data.Ddb.Crm.Contact
@{
    ViewData.SetTitleAndHeading("View Contact", $"{Model.FullName} ({Model.Id})");
}

<div>
    @await Html.PartialAsync("_DetailsPartial", Model)
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <button type="button" class="btn btn-default" asp-action="Index">Back to List</button>
</div>
