@model Traffk.Portal.Models.UniversalLoginViewModels.UniversalLoginViewModel
@using static TraffkPortal.Controllers.AccountController
@{
    ViewData.SetTitle("Log In");
}

<div class="row">
    <div class="col-sm-12 text-center">
        <h1>Log In</h1>
        <p class="subheading">Enter your company name to access the Traffk Health Information Portal</p>
    </div>
</div>

<!-- Content: Login Panel -->
<section id="login-panel">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel container-internal large-padding" id="login-container">
                <form form asp-controller="UniversalLogin" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="form-login">
                    <div class="form-row">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="group form-row">
                        <input type="text" asp-for="LoginDomain" class="form-text" required tabindex=1 />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label asp-for="LoginDomain" class="material"></label>
                        <span asp-validation-for="LoginDomain" class="error-msg"></span>
                    </div>
                    
                    <div class="form-row text-right">
                        <input type="submit" value="Submit" class="btn btn-default btn-primary btn-large" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@Html.Script(@<script type="text/javascript">
                  document.title = '@ViewBag.Title - Traffk Portal';
              </script>
              )