@model TraffkPortal.Models.RoleModels.RoleDetailViewModel
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.RoleName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RoleName)
    </dd>
    <dt>
        <label for="PermissionList">Permissions</label>
    </dt>
    <dd>
        <ul id="PermissionList">
            @foreach (var item in Model.InitialPermissionList.Where(z => z.Selected))
            {
                <li>@item.Text</li>
            }
        </ul>
    </dd>
</dl>
