@model TraffkPortal.Models.RoleModels.RoleDetailViewModel
@{
    ViewData.SetTitleAndHeading("Delete Role", Model.RoleName);
}

<h3>Are you sure you want to delete this role?</h3>
<div>
    @await Html.PartialAsync("_DetailsPartial", Model)
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <button type="button" class="btn btn-default" asp-action="Index">Back to List</button>
        </div>
    </form>
</div>
