@model TraffkPortal.Models.RoleModels.RoleDetailViewModel
@{
    ViewData.SetTitleAndHeading("View Role", Model.RoleName);
}

<div>
    @await Html.PartialAsync("_DetailsPartial", Model)
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <button type="button" class="btn btn-default" asp-action="Index">Back to List</button>
</div>
