@model TraffkPortal.Models.ErrorModels.ErrorModel
@using static TraffkPortal.Controllers.ErrorController
@{
    Layout = "~/Views/Shared/_LayoutUniversal.cshtml";
    ViewData.SetTitleAndHeading("Error " + @Model.StatusCode);
}
<div class="row">
    <div class="panel medium-padding">
        <p class="text-danger">
            An error occurred while processing your request.  Our team has been notified.
        </p>
        @{ await Html.RenderPartialAsync("~/Views/Error/_ErrorDetail.cshtml", Model); }
    </div>
</div>