@model Traffk.Portal.Models.TenantModels.FiscalYearSettingsModel
@using static TraffkPortal.Controllers.TenantsController
@{
    Layout = "~/Views/Tenants/_LayoutTenant.cshtml";
    ViewData.IsFormPage(true);
    ViewData.SetTitleAndHeading("Fiscal Year Settings");
}

<form asp-action="@TenantsController.ActionNames.FiscalYearSettingsSubmission" class="inline-form">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-sm-12">
            <div class="form-row">
                <label asp-for="CalendarYear"></label>
                <input asp-for="CalendarYear" class="form-control" value="@DateTime.UtcNow.Year"/>
                <span asp-validation-for="CalendarYear" class="text-danger"/>
            </div>
            <div class="form-row">
                <label asp-for="CalendarMonth"></label>
                <input asp-for="CalendarMonth" class="form-control" value="@DateTime.UtcNow.Month"/>
                <span asp-validation-for="CalendarMonth" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="FiscalYear"></label>
                <input asp-for="FiscalYear" class="form-control" value="@DateTime.UtcNow.Year"/>
                <span asp-validation-for="FiscalYear" class="text-danger" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <input type="submit" value="Save" class="btn btn-default btn-primary btn-large" />
            </div>
        </div>
    </div>
</form>