@model TraffkPortal.Models.TenantModels.PasswordSettingsModel
@using static TraffkPortal.Controllers.TenantsController
@{
    Layout = "~/Views/Tenants/_LayoutTenant.cshtml";
    ViewData.IsFormPage(true);
    ViewData.SetTitleAndHeading("Password Settings");
}

<form asp-action="@ActionNames.PasswordSettingsSubmission" class="inline-form">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-sm-12">
            <div class="form-row">
                <label asp-for="RequireDigit"></label>
                    <input asp-for="RequireDigit" />
                    <span asp-validation-for="RequireDigit" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="RequiredLength"></label>
                    <input asp-for="RequiredLength" class="form-control" />
                    <span asp-validation-for="RequiredLength" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="RequireLowercase"></label>
                    <input asp-for="RequireLowercase" />
                    <span asp-validation-for="RequireLowercase" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="RequireNonAlphanumeric"></label>
                    <input asp-for="RequireNonAlphanumeric" />
                    <span asp-validation-for="RequireNonAlphanumeric" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="RequireUppercase"></label>
                    <input asp-for="RequireUppercase" />
                    <span asp-validation-for="RequireUppercase" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="UseDefaultProhibitedPasswordList"></label>
                    <input asp-for="UseDefaultProhibitedPasswordList" />
                    <span asp-validation-for="UseDefaultProhibitedPasswordList" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="ProhibitedPasswordsTextArea"></label>
                    <input asp-for="ProhibitedPasswordsTextArea" class="form-control" />
                    <span asp-validation-for="ProhibitedPasswordsTextArea" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="UseDefaultPasswordUnallowedWordList"></label>
                    <input asp-for="UseDefaultPasswordUnallowedWordList" />
                    <span asp-validation-for="UseDefaultPasswordUnallowedWordList" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="PasswordUnallowedWordListTextArea"></label>
                    <textarea asp-for="PasswordUnallowedWordListTextArea" class="form-control"></textarea>
                    <span asp-validation-for="PasswordUnallowedWordListTextArea" class="text-danger" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <input type="submit" value="Save" class="btn btn-default btn-primary btn-large" />
        </div>
    </div>
</form>
