@using static TraffkPortal.Controllers.TenantsController
@model TraffkPortal.Models.TenantModels.PasswordSettingsModel
@{
    Layout = "_LayoutTenant.cshtml";
}

<form asp-action="@ActionNames.PasswordSettingsSubmission">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RequireDigit" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RequireDigit" class="form-control" />
                <span asp-validation-for="RequireDigit" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RequiredLength" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RequiredLength" class="form-control" />
                <span asp-validation-for="RequiredLength" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RequireLowercase" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RequireLowercase" class="form-control" />
                <span asp-validation-for="RequireLowercase" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RequireNonAlphanumeric" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RequireNonAlphanumeric" class="form-control" />
                <span asp-validation-for="RequireNonAlphanumeric" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RequireUppercase" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RequireUppercase" class="form-control" />
                <span asp-validation-for="RequireUppercase" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UseDefaultProhibitedPasswordList" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UseDefaultProhibitedPasswordList" class="form-control" />
                <span asp-validation-for="UseDefaultProhibitedPasswordList" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProhibitedPasswordsTextArea" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProhibitedPasswordsTextArea" class="form-control" />
                <span asp-validation-for="ProhibitedPasswordsTextArea" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UseDefaultPasswordUnallowedWordList" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UseDefaultPasswordUnallowedWordList" class="form-control" />
                <span asp-validation-for="UseDefaultPasswordUnallowedWordList" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PasswordUnallowedWordListTextArea" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="PasswordUnallowedWordListTextArea" class="form-control"></textarea>
                <span asp-validation-for="PasswordUnallowedWordListTextArea" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
