@model TraffkPortal.Models.TenantModels.SmtpSettingsModel
@using static TraffkPortal.Controllers.TenantsController
@{
    Layout = "~/Views/Tenants/_LayoutTenant.cshtml";
    ViewData.IsFormPage(true);
}

<form asp-action="@ActionNames.SmtpSettingsSubmission" class="inline-form">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-sm-12">
            <div class="form-row">
                <label asp-for="SmtpHost"></label>
                    <input asp-for="SmtpHost" class="form-control" />
                    <span asp-validation-for="SmtpHost" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="SmtpPort"></label>
                    <input asp-for="SmtpPort" class="form-control" />
                    <span asp-validation-for="SmtpPort" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="SmtpUser"></label>
                    <input asp-for="SmtpUser" class="form-control" />
                    <span asp-validation-for="SmtpUser" class="text-danger" />
            </div>
            <div class="form-row">
                <label asp-for="SmtpPassword"></label>
                    @Html.ReplayablePasswordFor(m => m.SmtpPassword, m => m.ConfirmSmtpPassword, new { @class = "form-control" })
                    <span asp-validation-for="SmtpPassword" class="text-danger"></span>
            </div>
            <div class="form-row">
                <label asp-for="ConfirmSmtpPassword"></label>
                    @Html.ReplayablePasswordFor(m => m.ConfirmSmtpPassword, m => m.SmtpPassword, new { @class = "form-control" })
                    <span asp-validation-for="ConfirmSmtpPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <input type="submit" value="Save" class="btn btn-default btn-primary btn-large" />
            </div>
        </div>
    </div>
</form>
